 <div class="table-responsive table-listing">
  <div class="clearfix">
    <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.content %>
      <%= link_to "Edit", edit_post_path(post) %>
    <% end %>
  </div>
</div>